
/*font-family: 'Julius Sans One', sans-serif;*/


* {
  font-family: 'Julius Sans One', sans-serif, arial;
  font-weight: bolder;
  box-sizing: border-box;
}

body {
  background-image: url('https://i.imgur.com/qNtBDRP.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

.menu {
  display: block;
  position: fixed;
  width: 100%;
  height: 8vh;
  background-color: lightsteelblue;
  left: 0;
  top: 0;
  z-index: 2;
}

ul {
list-style-type: none;
padding: 0 30% 0 0;
/*padding: 0;*/
float: right;
}

li {
float: left;
}

li a {
display: block;
color:black;
text-align: center;
padding: 2.5vh 2.5vh;
text-decoration: none;
top: 0;
}

/* Change the link color on hover */

li a:hover {
color: gray;
text-decoration: none;
}

/*Header*/

header {
position: relative;
width: 60%;
height: 18vh;
margin: 16vh auto 8vh auto;
}

h1, h2 {
  text-align: center;
  font-weight: bolder;   
}

span {
  font-size: 1.5em;
}

#foto {
  width: 100%;
  height: auto;
  margin: 40% 20%;
}

#foto:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
}

.portfolio img {
  width: 100%;
  height: auto;
  display: flex;
  align-items:center;
  margin: 40% auto;
  border-radius: 5%;
  border-color: lightslategrey;
  -webkit-box-shadow: 5px 5px 5px rgb(83, 78, 95);
  box-shadow: 5px 5px 5px rgb(83, 78, 95);  
  overflow: hidden;
}

/*Animacja jpg*/

.portfolio img {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
   -ms-transition: all 0.5s ease;
       transition: all 0.5s ease;
}
 
.portfolio img:hover {
  border-radius: 50%;
  -webkit-transform: rotate(360deg);
     -moz-transform: rotate(360deg);
       -o-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}

.personal-text  {
  width: 100%;
  height: auto;
  text-align: center;
  display: flex;
  margin: 30% 20%;
}

/*About me*/

.aboutme {
  position: static;
  width: 60%;
  height: 50vh;
  background-color: rgba(176, 196, 222, 0.5);
  margin: 8vh auto;
}

/*Skills*/

.skills {
  width: 60%;
  height: 50vh;
  background-color: rgba(176, 196, 222, 0.5);
  margin: auto;
  text-align: center;
  align-items: center;
}

.skills h3 {
  font-weight: bolder;
  font-size: 1.5em;
}

/*Portfolio*/

.portfolio {
  width: 60%;
  height: 50vh;
  margin: 8vh auto;
}

/*Contact*/

.contact {
  width: 60%;
  height: 30vh;
  /*background-color: rgba(176, 196, 222, 0.5);*/
  margin: 8vh auto;
}

/*Social-media*/

.social-icon {
  display: border-box;
  color: black;
  font-size: 200%;
  margin: 7px;
  transition: 0.4s;
  display: flex;
  align-items: center;
  margin: auto;  
}

 .links h3 {
   text-align: center;
   font-weight: bolder;
   font-size: 1.5em; 
 }

 .links {
  align-items:center;
 }

.social-icon:hover {
  color:rgba(176, 196, 222, 0.8)
}

/*Footer*/

footer {
 text-align: center;
}

