
/*font-family: 'Julius Sans One', sans-serif;*/

/*Menu*/
* {
  font-family: 'Julius Sans One', sans-serif, arial;
  font-weight: bolder;
}
body {
  background-image: url('https://i.imgur.com/qNtBDRP.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  
}

.menu {
  display: block;
  position: fixed;
  width: 100%;
  height: 8vh;
  background-color: lightsteelblue;
  left: 0;
  top: 0;
  z-index: 2;
}

ul {
list-style-type: none;
padding: 0 30% 0 0;
/*padding: 0;*/
float: right;
}

li {
float: left;
}

li a {
display: block;
color:black;
text-align: center;
padding: 2.5vh 2.5vh;
text-decoration: none;
top: 0;
}

/* Change the link color on hover */

li a:hover {
color: gray;
text-decoration: none;
}


/*Header*/

header {
position: relative;
width: 60%;
height: 18vh;
margin: 16vh auto 8vh auto;
}

h1, h2 {
  text-align: center;
}
#foto {
  width: 100%;
  height: auto;
  margin: 40% 20%;
}
personal-text  {
  width: 100%;
  height: auto;
  margin: 30% 20%;
  text-align: center;

}
.welcome {
 
}
/*About me*/

.aboutme {
  position: static;
  width: 60%;
  height: 50vh;
  background-color: rgba(176, 196, 222, 0.5);
  margin: 8vh auto;
  
 

}

/*Skills*/

.skills {
  width: 60%;
  height: 50vh;
  background-color: rgba(176, 196, 222, 0.5);
  margin: 8vh auto;
}

/*Portfolio*/

.portfolio {
  width: 60%;
  height: 50vh;
  background-color: rgba(176, 196, 222, 0.5);
  margin: 8vh auto;
}

/*Contact*/

.contact {
  width: 60%;
  height: 30vh;
  /*background-color: rgba(176, 196, 222, 0.5);*/
  margin: 8vh auto;
}

/*Social-media*/

.social-icon {
  display: border-box;
  color: black;
  font-size: 200%;
  margin: 7px;
  transition: 0.4s;
  
}
 .links p {
   text-align: center;
 }

 .links {

 }
.social-icon:hover {
  color: #054C87;
}

/*Footer*/

footer {
 text-align: center;
}

